@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Palanquin+Dark:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Jalembe";
  /*  url("fonts/Jalembe.otf") format("opentype"), */
  src: url("fonts/Jalembe.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9e7cd;
  min-width: 345px;
}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
    animation: none; /* Stop animation at 100% */
    transform: none; /* Ensure final state */
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  30% {
    transform: translateX(-20px) rotate(-15deg);
  }

  70% {
    transform: translateX(10px) rotate(10deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3) rotate(-10deg);
  }
  100% {
    transform: scale(1.2) rotate(5deg);
  }
}

@keyframes appear-right {
  from {
    opacity: 0%;
    transform: translateX(40px);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes appear-left {
  from {
    opacity: 0%;
    transform: translateX(-40px);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

p,
li,
input,
select,
textarea {
  font-family: "Palanquin Dark", sans-serif;
}

#top-banner img {
  width: 84%;
  margin-left: 16%;
  margin-bottom: -5px;
  z-index: -10;
}

/* Header */

header nav {
  height: 100px;
  background: #f0894f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}

#links {
  position: fixed;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 4rem;
  z-index: 600;
}

#links.animate {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#links a:not(#logo) {
  color: #f0894f;
  text-transform: uppercase;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-wrap: nowrap;
  display: block;
  margin: 2rem 4rem;
  font-size: 1.5rem;
}

#logo {
  display: none;
}

#logo-hamburger {
  display: none;
  height: 70%;
  width: fit-content;
  display: flex;
  align-items: center;
  z-index: 100;
}

#logo img,
#logo-hamburger img {
  height: 100%;
}

#links.showMenu {
  transform: translateX(0);
  background: #fbf1e1;
}

.hamburger {
  border: none;
  cursor: pointer;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
}

.hamburger.inMenu {
  position: fixed;
  z-index: 601;
  top: 2rem;
  right: 2rem;
}

.xmark:before {
  display: none;
}

i.fa-solid.fa-xmark.xmark {
  display: none;
}

.show-before:before {
  display: inherit;
  color: #f99300;
  font-size: 1.6rem;
  content: "\f00d"; /* font awesome close icon */
}

#header-banner {
  background-color: #fbf1e1;
  height: fit-content;
  position: relative;
}

.banner-content {
  display: flex;
  flex-direction: column-reverse;
}

#header-banner-img {
  width: 95%;
}

.image-container {
  width: 100%;
  margin-top: 35px;
  margin-bottom: -2px;
}

.image-container img {
  width: 100%;
}

#header-banner-text {
  width: 75%;
  padding: 3% 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px auto 0;
}

#header-banner-text.animate, #credits {
  animation-name: appear-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#header-banner-text p {
  color: #f99300;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  height: fit-content;
}

.wavy {
  position: relative;
}

.wavy::before {
  content: url("img/wave-underline.svg");
  position: absolute;
  bottom: -36%;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: all 0.2s ease;
}

.bouton {
  font-size: 0.7rem;
  border-radius: 40px;
  background-color: #f99300;
  padding: 3% 18%;
  text-decoration: none;
  font-family: "Palanquin Dark";
  color: white;
  margin-top: 10%;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease;
  z-index: 2;
  position: relative;
}

#header-banner .bouton:hover {
  background-color: #a3baa6;
}

.bouton::before {
  content: url("img/tilt.svg");
  position: absolute;
  top: -30%;
  right: -5%;
  width: 15%;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: -1;
}

#header-banner .bouton::before {
  content: url("img/tilt-orange.svg");
}

.bouton:hover::before {
  top: -50%;
  right: -10%;
  width: 20%;
  opacity: 1;
}

.wave-separator {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

#wave-separator-header {
  position: absolute;
  bottom: -2px;
}

#wave-separator-header path {
  fill: #f9e7cd;
}

/* ///////////////////// */

/* SECTION BFF */
#section-BFF {
  position: relative;
  height: fit-content;
  margin: 105px auto 0;
}

.to-animate {
  opacity: 0;
}

#section-BFF h2.animate {
  animation-name: appear-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#logo-container img.animate {
  animation-name: jello;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 1;
  transition: opacity 0.25s ease-in-out forwards;
}

#section-BFF #profils.animate {
  animation-name: appear-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

h2,
h1 {
  font-family: "Jalembe", sans-serif;
  color: #f0894f;
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 50px;
  font-weight: 400;
}

#accueil h2,
#credits h1,
#contact h1 {
  text-align: center;
}

#logo-container {
  width: 35%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: center;
}

#logo-container img {
  width: 100%;
}

#logo-container:hover {
  animation: jello 0.9s ease-in-out 0s both;
}

/*Curved svg shape*/
.custom-shape-divider-top {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: -50;
}

.custom-shape-divider-top svg {
  width: 400%;
  margin-left: -90%;
  height: 1000px;
}

.custom-shape-divider-top .shape-fill {
  fill: #f0a77c;
}
/* //// */

#profils {
  min-height: 390px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-top: 130px;
  margin-bottom: -5px;
  font-family: "Aclonica", sans-serif;
  align-items: center;
}

.container-profil {
  width: 235px;
  padding-bottom: 45px;
  border-radius: 20px;
  margin-bottom: 150px;
}

.container-profil img {
  border-radius: 70%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
}

h3,
#credits h2 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  width: 100%;
}

#profils h3 {
  font-size: 1.55rem;
  margin: 10% 0 5%;
  padding: 0 20%;
}

#profils p:not(#profils div a p) {
  font-size: 0.9rem;
  width: 100%;
  margin: 5% 0;
  padding: 0 30%;
}

/* #profils div a p {
  width: fit-content;
  margin: 15% auto 5%;
  padding: 3% 12%;
  border-radius: 40px;
  font-size: 0.85rem;
  transition: all 0.2s ease-in-out;
} */

.bouton-profils {
  display: block;
  width: 70%;
  font-size: 0.7rem;
  border-radius: 40px;
  padding: 5% 0;
  text-decoration: none;
  font-family: "Palanquin Dark";
  color: white;
  margin: 15% auto 5%;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  z-index: 2;
  position: relative;
}

.bouton-profils::before {
  content: url("img/flower-2.svg");
  position: absolute;
  top: -10%;
  left: 6%;
  width: 8%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: rotate(30deg);
  z-index: -1;
}

.bouton-profils:hover::before {
  top: -41%;
  left: -3%;
  width: 15%;
  transform: rotate(0);
  opacity: 1;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.bouton-profils::after {
  content: url("img/flowers-2.svg");
  position: absolute;
  bottom: -20%;
  right: 0;
  width: 12%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: rotate(-30deg);
  z-index: -1;
}

.bouton-profils:hover::after {
  bottom: -39%;
  right: -8%;
  width: 22%;
  opacity: 1;
  transform: rotate(0);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

#profils a {
  text-decoration: none;
  color: white;
}

/* Encadrés Gauche Flavie */
#containerG {
  background-color: #aeb496;
}

#containerG img {
  background-color: #819e80;
}

/*bouton*/
#containerG .bouton-profils {
  border: 2px solid #819e80;
}

#containerG .bouton-profils:hover {
  background-color: #819e80;
  transition: all 0.2s ease-in-out;
}
/* //// */

/* Encadrés Milieu Benjamin */
#containerM {
  background-color: #feb247;
}

#containerM img {
  background-color: #f99300;
}

/*bouton*/
#containerM .bouton-profils {
  border: 2px solid #f99300;
}

#containerM .bouton-profils:hover {
  background-color: #f99100;
  transition: all 0.2s ease-in-out;
}
/* //// */

/* Encadrés Droite François*/
#containerD {
  background-color: #ffc164;
}
/*#f9c664*/
#containerD img {
  background-color: #ffae36;
}
/* #ffba38*/

/*bouton*/
#containerD .bouton-profils {
  border: 2px solid #ffae36;
}

#containerD .bouton-profils:hover {
  background-color: #ffae36;
  transition: all 0.2s ease-in-out;
}
/* //// */
/* ///////////////////// */

/* SECTION VALEURS */
#valeurs-BFF {
  color: white;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 1.3rem;
  height: fit-content;
}

#valeurs-container {
  background-color: #a3baa6;
  padding: 100px;
  margin: 0 auto;
  height: fit-content;
}

#valeurs-container img.animate {
  animation-name: jello;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-delay: 0.2s;
  transition: opacity 0.25s ease-in-out forwards;
}

#valeurs-container p.animate {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#valeurs-container div {
  text-align: center;
  padding: 25px 0;
}

#valeurs-container img {
  height: 80px;
  transition: all 0.9s ease-in-out;
}

/* ////////////// */

/* ROLLER DANCING SECTION */
#roller-dancing {
  background-color: #f0a77c;
  z-index: 50;
  width: 100%;
  position: relative;
  color: white;
}

#wave-separator-valeurs path {
  fill: #a3baa6;
}

#wave-separator-valeurs {
  position: absolute;
  top: -2px;
}

#roller-dancing-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#roller-dancing .animate {
  animation-name: appear-right;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
  opacity: 1;
}

#roller-dancing h2 {
  color: white;
}

#roller-dancing-text {
  padding: 15% 13%;
  text-align: center;
}

#roller-dancing-text p {
  margin-bottom: 80px;
}

#roller-dancing-text .bouton {
  background-color: white;
  color: #f0a77c;
}

#roller-dancing-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

#roller-dancing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*/////////////*/

/* GALERIE SECTION */
#galerie-BFF {
  margin-top: 120px;
}

#galerie-BFF.animate {
  animation-name: appear-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#galerie-content {
  margin: 0 auto;
  width: fit-content;
}

#galerie-content div {
  width: 250px;
  height: 250px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 40px;
  transition: transform 0.25s ease-in-out;
}

#galerie-content div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galerie-img:hover {
  animation: zoom-in 0.25s ease-in-out forwards;
}

#galerie-content div:nth-of-type(2) {
  background-color: #f99300;
}

#galerie-content div:nth-of-type(4) {
  background-color: #f0894f;
}

#galerie-content div:nth-of-type(6) {
  background-color: #a3baa6;
}

#galerie-content div:nth-of-type(8) {
  background-color: #ffae36;
}

#galerie-content div:nth-of-type(10) {
  background-color: #f49e5d;
  display: none;
}

/*//////////*/

#social {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 5%;
  font-size: 50px;
  transition: all 0.2s ease-in-out;
}

#social.animate {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 1;
}

#social a {
  text-decoration: none;
  color: #f49e5d;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#social a:hover {
  text-decoration: none;
  color: #f78935;
  text-align: center;
  animation: wobble 0.5s ease-in-out 0s 1 alternate forwards;
  transition: all 0.2s ease-in-out;
}

/* Footer */
#wave-separator-footer {
  margin-top: 15px;
  width: 100%;
}

#wave-separator-footer path {
  fill: #fbf1e1;
}

footer {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 0.75rem;
  background-color: #fbf1e1;
  color: #819e80de;
  margin-top: -5px;
  padding: 7% 6% 5%;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #819e80de;
  transition: all 0.2s ease-in-out;
  position: relative;
}

footer ul {
  margin: 30px 0;
  width: fit-content;
  z-index: 50;
}

footer a::before {
  content: "";
  z-index: -10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: rgba(255, 249, 247, 0.963);
  transition: width 0.25s ease-in-out;
}

footer a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

footer p {
  margin: 30px 0;
  width: 55%;
  text-align: left;
}

.footer-section {
  font-size: 1rem;
}
/* ///////////////////// */

/* ------- PAGE ROLLER DANCING ------- */
#rd-intro h1.animate,
#formulaire h1.animate {
  animation-name: jello;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

#rd-intro p.animate {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

#rd-page h2.animate {
  animation-name: appear-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#rd-page p:not(#rd-intro p).animate {
  animation-name: appear-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

#rd-page h2,
#rd-page h1 {
  margin-bottom: 35px;
  width: 90%;
}

.paragraphe {
  padding: 100px 8%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraphe p {
  width: 90%;
}

#rd-intro {
  padding: 130px 8% 180px;
  color: #f99300;
  text-align: center;
  background-color: #fbf1e1;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

#rd-intro h1 {
  color: #f99300;
}

#wave-separator-intro {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}

#wave-separator-intro path {
  fill: #f9e7cd;
}

#rd-presentation,
#rd-lieux {
  color: #f0894f;
  text-align: left;
}

#wave-separator-lieux {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}

#wave-separator-lieux path,
#wave-separator-conseils path {
  fill: #f9e7cd;
}

#wave-separator-conseils {
  position: absolute;
  top: -2px;
}

#rd-commencer,
#rd-commencer h2,
#rd-conseils,
#rd-conseils h2 {
  color: white;
  text-align: right;
  position: relative;
}

#rd-commencer,
#rd-commencer h2,
#rd-conseils {
  background-color: #a3baa6;
}

#rd-commencer p {
  padding-bottom: 40px;
}

#rd-conseils {
  padding-top: 130px;
  background-color: #f99300;
}

#rd-presentation {
  padding-bottom: 130px;
}

/* PAGE CREDITS */
#credits {
  opacity: 0;
  width: 80%;
  height: fit-content;
  margin: 100px auto 0;
  color: #f78935;
}

#credits h1 {
  margin-left: 0;
}

#credits h2 {
  margin-bottom: 15px;
}

#credits h2:nth-of-type(2) {
  margin-top: 55px;
}

#credits ul:nth-child(3),
#credits ul:nth-child(5) {
  margin-top: 15px;
}

#credits ul ul li {
  list-style: none;
  text-indent: 20px;
}

#credits ul ul li:nth-of-type(1) {
  font-weight: bold;
}

/* PAGE CONTACT */

#contact {
  width: 100%;
}

#formulaire {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#formulaire h1 {
  margin-top: 100px;
  padding: 0 13%;
}

form {
  border: solid 4px #a3baa6;
  width: 85%;
  color: #f0894f;
  background-color: rgba(255, 255, 255, 0.514);
  box-shadow: -12px 12px #e9915f;
  padding: 9%;
  margin: 30px auto 0;
  border-radius: 20px;
  position: relative;
}

@keyframes appear-right-form {
  from {
    opacity: 0%;
    transform: translateX(40px) scaleX(-1);
  }
  to {
    opacity: 100%;
    transform: translateX(0) scaleX(-1);
  }
}

form::before {
  content: url(img/flowers-2.svg);
  position: absolute;
  width: 22%;
  top: -4%;
  right: -8%;
  transform: scaleX(-1);
  animation-name: appear-right-form;
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

form.animate {
  animation-name: fade-in;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

form label {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.1rem;
  font-family: "Lilita One", sans-serif;
}

form select:focus-visible, form select:focus-within {
  border: 2px #819e80 solid;
}

form #fullname label {
  margin: 20px 0 10px;
}

#contact form input:not(input[type="submit"]),
textarea,
select {
  border: none;
  padding: 13px 20px;
  border-radius: 20px;
  width: 100%;
  overflow: visible;
}

select option {
  white-space: normal;
  font-size: 0.6rem;
}

#message {
  height: 150px;
}

input[type="submit"] {
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease-in-out;
  position: relative;
}

input[type="submit"]:hover {
  background-color: #ffae36;
  transition: 0.2s ease-in-out;
}

/* input[type="submit"]::before {
  content: url('img/tilt-blue.svg');
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  opacity: 1;
  transition: all 0.2s ease;
}

input[type="submit"]:hover::before {
  top: -50%;
  right: -10%;
  width: 20%;
  opacity: 1;
} */
/* ///////////////////// */

/* PAGE GALERIE + CV*/
.custom-shape-divider-top-1680019974 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1680019974 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 266px;
}

.custom-shape-divider-top-1680019974 .shape-fill {
  fill: #a3baa6;
}

.contenu {
  position: relative;
  top: -80px;
  color: white;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.fa-solid {
  font-size: 70px;
}

.contenu h1 {
  margin-top: 30px;
}
/* ///////////////////// */

@media screen and (min-width: 480px) {
  .banner-content {
    flex-direction: row;
  }

  .image-container {
    margin-top: 50px;
  }

  #header-banner-img {
    width: 55%;
  }

  #header-banner-text {
    width: 45%;
    padding: 3% 10% 7% 4%;
    margin: 0;
  }

  #header-banner-text p {
    font-size: 0.9rem;
  }

  .bouton,
  .bouton-profils {
    font-size: 0.8rem;
  }

  h2,
  h1 {
    font-size: 2rem;
  }
  #credits h2 {
    font-size: 1.4rem;
  }

  #logo-container img {
    max-width: 25%;
    min-width: 160px;
  }

  /* //// */

  #profils {
    margin-top: 170px;
  }

  .container-profil {
    width: 270px;
  }

  .container-profil img {
    width: 200px;
    height: 200px;
    margin-top: -90px;
  }

  #profils h3 {
    font-size: 1.8rem;
  }

  #profils p:not(#profils div a p) {
    font-size: 1.2rem;
    padding: 0 20%;
  }

  #profils div a p {
    padding: 3% 14%;
    font-size: 1.1rem;
  }

  /* //// */
  /* ///////////////////// */

  /* SECTION VALEURS */
  #valeurs-BFF {
    color: white;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1.5rem;
  }

  #valeurs-container {
    background-color: #a3baa6;
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 15%;
  }

  #valeurs-container div {
    text-align: center;
    padding: 0;
  }

  #valeurs-container img {
    height: 60px;
  }

  /* ////////////// */
  /* ROLLER DANCING PAGE */
  #rd-page p {
    font-size: 0.9rem;
  }

  /* FOOTER */
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }

  footer ul {
    margin: 0;
  }

  footer ul:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
  }

  footer ul:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
  }

  footer p {
    margin: 0;
    grid-row: 1/3;
    grid-column: 2;
    width: 100%;
    text-align: right;
  }


  select option {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 576px) {
  #header-banner-text p {
    font-size: 1.1rem;
  }

  /* TEAM SECTION */
  .container-profil {
    width: 300px;
  }

  /* ROLLER DANCING SECTION */
  #roller-dancing-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  /* GALERIE SECTION */

  #galerie-content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(5, 250px);
    gap: 30px;
  }

  #galerie-content div:nth-of-type(4) {
    grid-column: 1;
    grid-row: 2;
  }

  #galerie-content div:nth-of-type(8) {
    grid-column: 1;
    grid-row: 4;
  }
  #galerie-content div:nth-of-type(10) {
    display: block;
  }

  #social {
    font-size: 65px;
  }

  /* PAGE CONTACT */
  form::before {
    top: -5%;
  }
  select option {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  /* #header-banner-text {
    padding-bottom: 60px;
  } */

  header nav {
    height: 120px;
    display: block;
    padding: 0;
  }

  #links {
    position: inherit;
    transform: translateX(0);
    transition: none;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  #links a:not(#logo) {
    color: white;
    font-size: 1.1rem;
    margin: 0;
  }

  #logo {
    height: 100px;
    width: fit-content;
    display: flex;
    align-items: center;
    z-index: 100;
  }

  #logo-hamburger {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #header-banner-text p {
    font-size: 1.25rem;
  }

  #formulaire .bouton {
    font-size: 0.9rem;
  }

  .bouton {
    font-size: 0.95rem;
    padding: 3% 18%;
    margin-top: 10%;
  }

  h2,
  h1 {
    font-size: 2.4rem;
  }

  #credits h2 {
    font-size: 1.7rem;
  }

  #logo-container img {
    min-width: 160px;
    max-width: 14%;
  }

  /*Curved svg shape*/

  .custom-shape-divider-top svg {
    width: 187%;
    margin-left: -10%;
    height: 400px;
  }

  /* //// */

  #profils {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
  }

  .container-profil {
    max-width: 270px;
    min-width: 25%;
    width: 235px;
    margin-bottom: 0;
  }

  .container-profil img {
    width: 180px;
    height: 180px;
    margin-top: -90px;
  }

  #profils h3 {
    font-size: 1.6rem;
  }

  #profils p:not(#profils div a p) {
    font-size: 1.1rem;
    padding: 0 20%;
  }

  #profils div a p {
    padding: 3% 14%;
    font-size: 1rem;
  }

  /* //// */
  /* ///////////////////// */

  /* VALEURS SECTION */

  #valeurs-container img {
    height: 80px;
  }

  /* ///////// */

  /* ROLLER DANCING SECTION */
  #roller-dancing-img {
    height: 470px;
  }

  #roller-dancing-text {
    padding: 10%;
  }

  /* GALERIE SECTION */
  #galerie-content {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, 230px);
    gap: 10px;
  }

  #galerie-content div {
    height: 230px;
    width: 230px;
    margin: 0;
  }

  #galerie-content div:nth-of-type(10) {
    display: none;
  }

  #galerie-content div:nth-of-type(8) {
    grid-column: 2;
    grid-row: 3;
  }

  #rd-page p {
    font-size: 1rem;
  }

  /*//////////*/

  #social {
    font-size: 70px;
  }

  /* Footer */

  footer {
    display: flex;
    gap: 12%;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.85rem;
  }

  footer p {
    width: 25%;
  }

  .footer-section {
    font-size: 1.2rem;
  }
  /* ///////////////////// */

  /* CONTACT PAGE */

  form::before {
    top: -6%;
  }

  #fullname {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  #fullname div {
    width: 100%;
  }

  form #fullname label {
    margin: 0 0 10px;
  }

  form {
    width: 70%;
    padding: 7% 9%;
    box-shadow: -20px 20px #e9915f;
  }

  form label {
    font-size: 1.3rem;
  }

  #message {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
  #links a:not(#logo) {
    font-size: 1.3rem;
  }

  #header-banner-text p {
    font-size: 1.43rem;
  }

  .bouton {
    font-size: 1.1rem;
  }

  #wave-separator-header {
    position: absolute;
    bottom: 0;
  }

  /* TEAM SECTION */
  #section-BFF {
    position: relative;
    height: fit-content;
    margin: 120px auto 0;
  }

  .container-profil {
    min-width: 280px;
    max-width: 300px;
    width: 27%;
  }

  .container-profil img {
    width: 200px;
    height: 200px;
  }

  #profils h3 {
    font-size: 1.7rem;
  }

  #profils p:not(#profils div a p) {
    font-size: 1.1rem;
    padding: 0 20%;
  }

  #profils div a p {
    padding: 3% 14%;
    font-size: 1.1rem;
  }

  /* ROLLER DANCING SECTION */
  #roller-dancing .animate {
    animation-delay: 0.6s;
  }

  #roller-dancing-content {
    flex-direction: row;
    justify-content: space-between;
  }

  #roller-dancing-text {
    width: 75%;
  }

  #roller-dancing-img {
    width: 86%;
    margin-right: -35px;
    height: fit-content;
    overflow: hidden;
    margin-bottom: -6px;
  }

  /* GALERIE SECTION */
  
#galerie-BFF {
  margin-top: 150px;
}

  #galerie-content {
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(3, 280px);
    gap: 20px;
  }

  #galerie-content div {
    height: 280px;
    width: 280px;
  }

  /*//////////*/

  /* PAGE ROLLER-DANCING */
  .paragraphe {
    padding: 150px 8%;
  }

  #rd-conseils {
    padding-top: 180px;
  }

  #rd-presentation {
    padding-bottom: 180px;
  }

  form::before {
    top: -7%;
    right: -11%;
  }

  form {
    width: 65%;
  }
}

@media screen and (min-width: 1120px) {
  .bouton-profils {
    font-size: 0.9rem;
  }

  #roller-dancing-img {
    width: 50%;
    margin-right: 0;
  }

  #galerie-content {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    gap: 40px;
  }

  #galerie-content div {
    height: 300px;
    width: 300px;
  }

  form::before {
    top: -8%;
    right: -11%;
  }
  
  select option {
    font-size: 1rem;
  }
}
