@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Palanquin+Dark:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Jalembe";
  src: url("path/to/Jalembe.otf") format("opentype"),
    url("path/to/Jalembe.ttf") format("truetype");
}

/*
font-family: 'Comfortaa', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Rammetto One', cursive;
font-family: 'Bayon', sans-serif;
font-family: 'Nova Square', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9e7cd;
}

#top-banner img {
  width: 84%;
  margin-left: 16%;
  margin-bottom: -5px;
  z-index: -10;
}

/* Header */

header nav {
  height: 100px;
  background: #f0894f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

header nav a {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

#logo {
  height: 75%;
  width: fit-content;
  display: flex;
  align-items: center;
  z-index: 100;
}

#logo img {
  height: 100%;
}

#header-banner {
  background-color: #fbf1e1;
  height: fit-content;
  position: relative;
}

#header-banner-img {
  width: 55%;
}

#header-banner-text {
  width: 45%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-banner-text p {
  color: #f99300;
  text-align: center;
  font-family: "Palanquin Dark";
  font-size: 1.43rem;
  font-weight: 600;
  height: fit-content;
}

.bouton {
  font-size: 1.1rem;
  border-radius: 40px;
  background-color: #f99300;
  padding: 3% 18%;
  text-decoration: none;
  font-family: "Palanquin Dark";
  color: white;
  margin-top: 10%;
  text-transform: uppercase;
}

.image-container {
  width: 100%;
  margin-top: 50px;
}

.image-container img {
  width: 100%;
}

.banner-content {
  display: flex;
}

.wave-separator {
  position: absolute;
  bottom: -0;
}

/* ///////////////////// */

/* SECTION BFF */
#section-BFF {
  position: relative;
  height: fit-content;
  margin: 100px auto 0;
}

h2 {
  font-family: "Jalembe", sans-serif;
  color: #f0894f;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

#logo-container {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

#logo-container img {
  width: 15%;

}

/*Curved svg shape*/
.custom-shape-divider-top {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: -50;
}

.custom-shape-divider-top svg {
  width: 187%;
  margin-left: -10%;
  height: 400px;
}

.custom-shape-divider-top .shape-fill {
  fill: #F0A77C;
}
/* //// */

#profils {
  min-height: 390px;
  max-height: fit-content;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  margin-top: 170px;
  margin-bottom: -5px;
  font-family: "Aclonica", sans-serif;
  padding-bottom: 50px;
}

#profils p:not(#profils div a p) {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.1rem;
  width: 100%;
  margin: 5% 0;
  padding: 0 20%;
}

#profils div a p {
  width: fit-content;
  margin: 15% auto 5%;
  padding: 3% 14%;
  border-radius: 40px;
  font-size: 1.1rem;
  font-family: "Palanquin Dark", sans-serif;
  transition: all 0.2s ease-in-out;
}

#profils h3 {
  font-size: 1.7rem;
  width: 100%;
  margin: 10% 0 5%;
  padding: 0 20%;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}

#profils a {
  text-decoration: none;
  color: white;
}

.container-profil {
  width: 270px;
  padding-bottom: 45px;
  border-radius: 20px;
}

/* Encadrés Gauche Flavie */
#containerG {
  background-color: #aeb496;
}

#containerG img {
  background-color: #819e80;
  border-radius: 70%;
  width: 200px;
  height: 200px;
  margin-top: -90px;
}

/*bouton CV*/
#containerG a p {
  border: 2px solid #819e80;
}

#containerG a p:hover {
  border: 2px solid #819e80;
  background-color: #819e80b7;
  transition: all 0.2s ease-in-out;
}
/* //// */

/* Encadrés Milieu Benjamin */
#containerM {
  background-color: #f6b250;
}

#containerM img {
  background-color: #f99300;
  border-radius: 70%;
  width: 200px;
  height: 200px;
  margin-top: -90px;
}

/*bouton CV*/
#containerM a p {
  border: 2px solid #f99300;
}

#containerM a p:hover {
  border: 2px solid #f99100;
  background-color: #f99100a9;
  transition: all 0.2s ease-in-out;
}
/* //// */

/* Encadrés Droite François*/
#containerD {
  background-color: #eac189;
}

#containerD img {
  background-color: #e5b369;
  border-radius: 70%;
  width: 200px;
  height: 200px;
  margin-top: -90px;
}

/*bouton CV*/
#containerD a p {
  border: 2px solid #e5b369;
}

#containerD a p:hover {
  border: 2px solid #e5b369;
  background-color: #e5b369b4;
  transition: all 0.2s ease-in-out;
}
/* //// */
/* ///////////////////// */

/* SECTION VALEURS */
#valeurs-BFF {
  color: white;
  font-family: "Palanquin Dark", sans-serif;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 1.5rem;
}

#valeurs-container {
  background-color: #A3BAA6;
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 15%;
}

#valeurs-container div {
text-align: center;
}

#valeurs-container img {
  height: 80px;
}

.wave-separator-down path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #a3baa6;
}

#social {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 3%;
  font-size: 50px;
}

#social a {
  text-decoration: none;
  color: #f49e5d;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#social a:hover {
  text-decoration: none;
  color: #f78935;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.fa-square-envelope {
  font-size: 50px !important;
}

/* Footer */
footer {
  padding: 5% 6%;
  color: #e9925fb3;
  display: flex;
  gap: 8%;
  align-items: center;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-size: 0.85rem;
}

footer div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8%;
  width: 70%;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #e9915f;
  transition: all 0.2s ease-in-out;
  position: relative;
}

footer ul {
  width: fit-content;
}

footer a::before {
  content: "";
  z-index: -100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: rgba(255, 249, 247, 0.692);
  transition: width 0.3s ease-in-out;
}

footer a:hover::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

footer p {
  width: 25%;
  text-align: left;
}

.footer-section {
  font-family: "Bayon", sans-serif;
  font-size: 1.2rem;
  color: #e9925fcb;
}
/* ///////////////////// */

/* PAGE CONTACT */

#contact {
  width: 100%;
  background-color: rgba(253, 243, 235, 0.274);
  height: fit-content;
  border-bottom: 2px solid white;
  padding: 100px 0;
}

form {
  border: solid 4px #a3baa6;
  width: 60%;
  color: #e9915f;
  background-color: rgba(255, 255, 255, 0.514);
  box-shadow: -12px 12px #e9915f;
  padding: 5%;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  margin: 30px auto 80px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
}

form div {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 0 auto 15px;
  text-align: right;
}

label {
  width: 25%;
}

#contact form input:not(input[type="submit"]),
textarea {
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  width: 70%;
  font-family: "Comfortaa", cursive;
}

#formulaire {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#formulaire img {
  margin: 0 auto 20px;
  height: 70px;
}

#formulaire h1 {
  color: #f49e5d;
  text-align: center;
  font-family: "Nova Square", cursive;
}

#message {
  height: 80px;
}

input[type="submit"] {
  margin-top: 30px;
  width: 50%;
  background-color: #f78935;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #f99100;
  transition: 0.2s ease-in-out;
}
/* ///////////////////// */

/* PAGE GALERIE + CV*/
.custom-shape-divider-top-1680019974 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1680019974 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 266px;
}

.custom-shape-divider-top-1680019974 .shape-fill {
  fill: #a3baa6;
}

.page {
  width: 100%;
  background-color: rgba(253, 243, 235, 0.274);
  border-bottom: 2px solid white;
}

.contenu {
  position: relative;
  top: -150px;
  color: white;
  width: fit-content;
  margin: auto;
  text-align: center;
  text-shadow: 4px 2px #819e80;
}

.fa-solid {
  font-size: 70px;
}

.contenu h1 {
  font-size: 50px;
  font-family: "Nova Square", cursive;
}
/* ///////////////////// */
